[Desktop Entry]
Comment=
Exec=winrun brave-privat brave --profile-directory="Profile_Privat"
Icon=/home/henrik/.local/share/applications/icons/yellow.svg
Name=Brave - Privat
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
