#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Events Organization
Exec=/opt/vivaldi/vivaldi --profile-directory=Profile_Loym --app-id=bofogfdhdnjlodgiejbndlbfipcejpdc
Icon=vivaldi-bofogfdhdnjlodgiejbndlbfipcejpdc-Profile_Loym
StartupWMClass=crx_bofogfdhdnjlodgiejbndlbfipcejpdc
